.git
.github
.devcontainer
.vscode

.venv
__pycache__
*.pyc
.pytest_cache
.ruff_cache

.env

tests
docs

scripts
deploy.sh
start.sh
database_setup.sql

README.md
LICENSE
.pre-commit-config.yaml
.editorconfig
pytest.ini